# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/
*.env

# IDE / Editor folders
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Generated results (通常不建议追踪)
result/

# wandb local files
wandb/